@use '../../styles/mixins.scss' as *;

.basic-info-section {
  padding-top: 60px;
}

.profile-image {
  img {
    padding-right: 0;
  }
  .image-container {
    position: relative;
    display: block;
    max-width: 440px;
    &::before {
      border: 4px solid $color-primary;
      display: inline-block;
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transform: translate3d(-25px, 25px, 0);
    }
  }
}
.basic-info-text {
  padding-top: 60px;
  h3 {
    font-family: $font-secundary;
  }
}

.detailed-data {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px 0;
  .detailed-column {
    ul {
      list-style: none;
      padding: 0;
      span {
        font-weight: bold;
        padding-right: 15px;
        color: $white;
      }
      color: $gray;
    }
    li {
      display: flex;
      flex-direction: column;
    }
  }
}

@include smallIntermediate {
  .profile-image {
    img {
      padding: 0 50px;
    }
    .image-container {
      margin: 0 auto;
      &:before {
        transform: translate3d(0, 25px, 0);
      }
    }
  }
  .detailed-data {
    .detailed-column {
      li {
        flex-direction: row;
      }
    }
  }
}

@include tablet {
  .profile-image {
    img {
      padding-left: 0;
      padding-right: 15px;
    }
    .image-container {
      &::before {
        transform: translate3d(-25px, 25px, 0);
      }
    }
  }
  .basic-info-text {
    padding-top: 0;
  }
  .detailed-data {
    .detailed-column {
      li {
        flex-direction: column;
      }
    }
  }
}

@include custom(945) {
  .detailed-data {
    .detailed-column {
      li {
        flex-direction: row;
      }
    }
  }
}
