@use '../../styles/mixins.scss' as *;

.print-only {
  display: none;
}
.basic-info-section {
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.profile-image {
  img {
    padding-right: 0;
  }
  .image-container {
    @include mainImageWithBorder;
    max-width: 44rem;
    img {
      transition: all 0.3s ease-in-out;
      &.image-about {
        filter: grayscale(1) brightness(1.2);
      }
    }
    &:hover {
      img.image-about {
        transform: rotate(5deg);
        filter: none;
        &-light {
          filter: grayscale(1) brightness(1.2);
          transform: rotate(5deg);
        }
      }
    }
  }
}
.basic-info-text {
  padding-top: 6rem;
  h3 {
    font-family: $font-secundary;
  }
  .btn.btn-full-mobile {
    margin-top: 3rem;
  }
}

.detailed-data {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 2rem 0;
  .detailed-column {
    ul {
      list-style: none;
      padding: 0;
      span {
        font-weight: bold;
        padding-right: 1.6rem;
        color: var(--about-list-title);
      }
      color: var(--about-list-description);
    }
    li {
      display: flex;
      flex-direction: column;
      &.hidden-col {
        display: none;
      }
    }
  }
}

@include smallIntermediate {
  .profile-image {
    img {
      padding: 0 5rem;
    }
    .image-container {
      margin: 0 auto;
      &:before {
        transform: translate3d(0, 2.5rem, 0);
      }
    }
  }
  .detailed-data {
    .detailed-column {
      li {
        flex-direction: row;
      }
    }
  }
}

@include tablet {
  .profile-image {
    img {
      padding-left: 0;
      padding-right: 1.6rem;
    }
    .image-container {
      &::before {
        transform: translate3d(-2.5rem, 2.5rem, 0);
      }
    }
  }
  .basic-info-text {
    padding-top: 0;
    .btn.btn-full-mobile {
      width: auto;
      margin-top: 0;
    }
  }
  .detailed-data {
    .detailed-column {
      li {
        flex-direction: column;
      }
    }
  }
}

@include custom(945) {
  .detailed-data {
    .detailed-column {
      li {
        flex-direction: row;
      }
    }
  }
}
