.btn {
  padding: 0;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: $color-primary;
    .btn-children {
      background-color: $color-primary;
    }
  }
  &.sm {
    .inner-btn {
      font-size: $fs-regular;
      .btn-children,
      .icon-container {
        padding: 16px;
      }
    }
  }
  &.btn-outlined {
    background-color: transparent;
    border: 1px solid $white;
    .btn-children {
      background-color: transparent;
      color: $white;
    }
    &:hover {
      border-color: $color-primary;
      .btn-children {
        color: $color-primary;
      }
    }
  }
}

.btn-children {
  text-transform: uppercase;
  padding: 20px;
  background-color: $white;
  color: $black;
}
