.btn {
  padding: 0;
  &.btn-primary {
    border: none !important;
  }
  &:hover {
    cursor: pointer;
    background-color: var(--btn-base-hover);
    .btn-children {
      background-color: var(--btn-base-hover);
    }
  }
  &.sm {
    .inner-btn {
      font-size: $fs-md;
      .btn-children,
      .icon-container {
        padding: 16px;
      }
    }
  }
  &.btn-outlined {
    background-color: transparent;
    border: 1px solid var(--btn-base);
    .btn-children {
      background-color: transparent;
      color: var(--btn-base);
    }
    &:hover {
      border-color: var(--btn-base-hover);
      .btn-children {
        color: var(--btn-base-hover);
      }
    }
  }
}

.btn-children {
  text-transform: uppercase;
  padding: 20px;
  background-color: var(--btn-base);
  color: var(--btn-outline-font);
}
