@use './mixins.scss' as *;
@include make-container(8rem);

.portfolio-row {
  display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  flex-flow: row wrap;
  width: 100%;
}

@include make-columns();
