@use './mixins.scss' as *;
@include make-container(80px);

.portfolio-row {
  display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  flex-flow: row wrap;
  width: 100%;
}

@include make-columns();

// Divide a list of items in two equally columns
.two-columns-row__item {
  flex: 0 0 48%;
}

// Divide a list of items in tree equally columns
.three-columns-row__item {
  flex: 0 0 32%;
}
