@use './variables.scss' as *;
// html {
//   font-size: 62.5%; // We can use this for this equivalence 16px = 1.6 rem. But I will not use it, because 16px is the standard
// }

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  color: $white;
}

h1,
h2,
h3,
h4 {
  font-family: $font-primary;
  p,
  span,
  small,
  blockquote {
    font-family: $font-primary;
  }
}

p,
span,
small,
button,
blockquote,
ul,
li {
  font-family: $font-secundary;
}

h1 {
  font-size: $fs-xxl;
}

h4 {
  font-size: $fs-regular;
}

body {
  background-color: $color-background;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

section {
  padding: 120px 0;
  // padding: 120px 90px;
  text-align: left;
  position: relative;
  width: 100%;
  height: 100%;
}

.simple-row {
  display: flex;
}

.simple-first-column {
  padding-right: 30px;
  flex: 0 0 40%;
  max-width: 40%;
}

.simple-second-column {
  flex: 0 0 60%;
  max-width: 60%;
}

.simple-equal-column {
  flex: 0 0 50%;
  max-width: 50%;
}

.content-row {
  padding: 1.5rem 0;
}

.title-content {
  text-transform: uppercase;
  font-size: $fs-lg;
  font-family: $font-primary;
}

.card-item {
  padding-bottom: 4rem;
  position: relative;
  small {
    position: absolute;
    top: -24px;
    font-size: $fs-xs;
    opacity: 0.8;
    font-weight: 400;
    i {
      padding-right: 10px;
    }
  }
  h4 {
    padding: 8px 0;
    text-transform: uppercase;
    span {
      font-weight: 500;
    }
  }
  p {
    hyphens: auto;
    word-break: break-word;
  }
  .separator {
    display: inline-block;
    width: 10px;
    background: #555;
    height: 2px;
    margin: 0 7px 3px 7px;
    vertical-align: middle;
  }
}
