@use './variables.scss' as *;
// html {
//   font-size: 62.5%; // We can use this for this equivalence 16px = 1.6 rem. But I will not use it, because 16px is the standard
// }

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  color: $white;
}

h1,
h2,
h3,
h4 {
  font-family: $font-primary;
  p,
  span,
  small,
  blockquote {
    font-family: $font-primary;
  }
}

p,
span,
small,
button,
blockquote,
ul,
li {
  font-family: $font-secundary;
}

h1 {
  font-size: $fs-xxl;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: $fs-xl;
}
h4 {
  font-size: $fs-md;
}
h5 {
  font-size: $fs-sm;
}

body {
  background-color: $color-background;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

section {
  padding: 120px 0;
  // padding: 120px 90px;
  text-align: left;
  position: relative;
  width: 100%;
  height: 100%;
}

.content-row {
  padding-top: 24px;
  padding-bottom: 24px;
}

.title-content {
  text-transform: uppercase;
  font-family: $font-primary;
}

.card-item {
  padding-bottom: 64px;
  position: relative;
  small {
    position: absolute;
    top: -24px;
    font-size: $fs-sm;
    opacity: 0.8;
    font-weight: 400;
    i {
      padding-right: 10px;
    }
  }
  h4 {
    padding: 8px 0;
    text-transform: uppercase;
    span {
      font-weight: 500;
    }
  }
  p {
    hyphens: auto;
    word-break: break-word;
  }
  .separator {
    display: inline-block;
    width: 10px;
    background: $color-separator;
    height: 2px;
    margin: 0 7px 3px 7px;
    vertical-align: middle;
  }
}
