@use 'sass:map';
@use './variables.scss' as *;
/* ################################################################## 
    MIXINS
################################################################## */
/**
 * TABLE OF CONTENT
 * 
 * MEDIA QUERIES 
 * GRID SYSTEM
 * FLOATING BUTTON
 * TITLE META TAGS
 * WRAP BORDER IMAGES
 *
**/

/*=============================================
=            MEDIA QUERIES            =
=============================================*/
@mixin mobile {
  @media (min-width: map.get($breakpoints, 'xs')) {
    @content;
  }
}

@mixin smallIntermediate {
  @media (min-width: map.get($breakpoints, 'sm')) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map.get($breakpoints, 'md')) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: map.get($breakpoints, 'lg')) {
    @content;
  }
}

@mixin bigIntermediate {
  @media (min-width: map.get($breakpoints, 'xlg')) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map.get($breakpoints, 'xl')) {
    @content;
  }
}

@mixin custom($min-pixel-value) {
  @media (min-width: #{$min-pixel-value}px) {
    @content;
  }
}

/*=============================================
=            GRID SYSTEM            =
=============================================*/
$default_container-padding-left: 50px;
$default_container-padding-right: 15px;

@mixin make-container($padding-x) {
  @each $max-width, $value in $container-max-widths {
    .container-#{$max-width} {
      max-width: $value;
      padding-right: $default_container-padding-right;
      padding-left: $default_container-padding-left;
      margin-right: auto;
      margin-left: auto;
    }
    @media (min-width: map.get($breakpoints, 'sm')) {
      .container-#{$max-width} {
        max-width: $value;
        padding-right: $padding-x;
        padding-left: $padding-x;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

/*----------  Flex  ----------*/
@mixin make-columns() {
  .portfolio-col-1,
  .portfolio-col-2,
  .portfolio-col-3,
  .portfolio-col-4,
  .portfolio-col-5,
  .portfolio-col-6,
  .portfolio-col-7,
  .portfolio-col-8,
  .portfolio-col-9,
  .portfolio-col-10,
  .portfolio-col-11,
  .portfolio-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  @each $column, $value in $columns {
    @if $column<5 {
      @media (min-width: map.get($breakpoints, 'sm')) {
        .portfolio-col-#{$column} {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }

    @media (min-width: map.get($breakpoints, 'md')) {
      .portfolio-col-#{$column} {
        flex: 0 0 $value;
        max-width: $value;
      }
    }
  }
}
/*----------  Grid  ----------*/

/*=====  End of GRID SYSTEM  ======*/

/*=============================================
=            FLOATING BUTTON            =
=============================================*/
@mixin basic-float {
  z-index: 6;
  position: fixed;
  text-align: center;
  border-radius: 50%;
  font-size: $is-md;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

@mixin floating-button {
  @include basic-float;
  color: var(--lang-main-icon);
  background: var(--lang-bg);
  box-shadow: 0px 0px 10px var(--lang-shadow);
}

/*=====  End of FLOATING BUTTON  ======*/

/*=============================================
=            TITLE META TAGS            =
=============================================*/
@mixin meta-title {
  &:before,
  &:after {
    background-color: var(--text-highlighted);
    position: absolute;
    content: '';
    height: 2px;
    top: 11px;
    width: 30px;
  }
  &:before {
    right: 0;
  }
  &:after {
    left: 0;
  }
}

/*=====  End of TITLE META TAGS  ======*/

/*=============================================
=            WRAP BORDER IMAGES            =
=============================================*/
@mixin mainImageWithBorder {
  position: relative;
  display: block;
  &::before {
    border: 4px solid var(--img-square);
    display: inline-block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translate3d(-25px, 25px, 0);
  }
}

/*=====  End of WRAP BORDER IMAGES  ======*/
