@use 'sass:map';
@use './variables.scss' as *;
/* ################################################################## 
    MIXINS
################################################################## */
/**
 * TABLE OF CONTENT
 * 
 * MEDIA QUERIES 
 * GRID SYSTEM
 * FLOATING BUTTON
 * TITLE META TAGS
 * WRAP BORDER IMAGES
 *
**/

/*=============================================
=            MEDIA QUERIES            =
=============================================*/
@mixin mobile {
  @media (min-width: map.get($breakpoints, 'xs')) {
    @content;
  }
}

@mixin smallIntermediate {
  @media (min-width: map.get($breakpoints, 'sm')) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map.get($breakpoints, 'md')) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: map.get($breakpoints, 'lg')) {
    @content;
  }
}

@mixin bigIntermediate {
  @media (min-width: map.get($breakpoints, 'xlg')) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map.get($breakpoints, 'xl')) {
    @content;
  }
}

@mixin custom($min-pixel-value) {
  @media (min-width: #{$min-pixel-value}px) {
    @content;
  }
}

/*=============================================
=            GRID SYSTEM            =
=============================================*/
$default_container-padding-left: 50px;
$default_container-padding-right: 15px;

@mixin make-container($padding-x) {
  @each $max-width, $value in $container-max-widths {
    .container-#{$max-width} {
      max-width: $value;
      padding-right: $default_container-padding-right;
      padding-left: $default_container-padding-left;
      margin-right: auto;
      margin-left: auto;
    }
    @media (min-width: map.get($breakpoints, 'sm')) {
      .container-#{$max-width} {
        max-width: $value;
        padding-right: $padding-x;
        padding-left: $padding-x;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

/*----------  Flex  ----------*/
@mixin make-columns() {
  .portfolio-col-1,
  .portfolio-col-2,
  .portfolio-col-3,
  .portfolio-col-4,
  .portfolio-col-5,
  .portfolio-col-6,
  .portfolio-col-7,
  .portfolio-col-8,
  .portfolio-col-9,
  .portfolio-col-10,
  .portfolio-col-11,
  .portfolio-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  @each $column, $value in $columns {
    @if $column<5 {
      @media (min-width: map.get($breakpoints, 'sm')) {
        .portfolio-col-#{$column} {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }

    @media (min-width: map.get($breakpoints, 'md')) {
      .portfolio-col-#{$column} {
        flex: 0 0 $value;
        max-width: $value;
      }
    }
  }
}
/*----------  Grid  ----------*/

/*=====  End of GRID SYSTEM  ======*/

/*=============================================
=            FLOATING BUTTON            =
=============================================*/
@mixin basic-float {
  z-index: 6;
  position: fixed;
  text-align: center;
  border-radius: 50%;
  font-size: $is-md;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

@mixin floating-button {
  @include basic-float;
  color: var(--lang-main-icon);
  background: var(--lang-bg);
  box-shadow: 0px 0px 10px var(--lang-shadow);
}

/*=====  End of FLOATING BUTTON  ======*/

/*=============================================
=            TITLE META TAGS            =
=============================================*/
@mixin meta-title {
  &:before,
  &:after {
    background-color: var(--text-highlighted);
    position: absolute;
    content: '';
    height: 2px;
    top: 11px;
    width: 30px;
  }
  &:before {
    right: 0;
  }
  &:after {
    left: 0;
  }
}

/*=====  End of TITLE META TAGS  ======*/

/*=============================================
=            WRAP BORDER IMAGES            =
=============================================*/
@mixin mainImageWithBorder {
  position: relative;
  display: block;
  &::before {
    border: 4px solid var(--img-square);
    display: inline-block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translate3d(-25px, 25px, 0);
  }
}

/*=====  End of WRAP BORDER IMAGES  ======*/

@mixin homeStyleTitle {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  .main-title-text {
    margin-top: 30%;
    position: relative;
  }
  h1 {
    position: relative;
    font-size: $ts-lg;
    transform: scale(1.2, 2.7);
    color: var(--text-highlighted);
    z-index: 0;
  }
  h2 {
    font-size: $ts-xs;
    padding-top: 15%;
    color: var(--text-subtitle);
    span {
      transform: rotate(-15deg) scale(-1, 1);
      display: inline-block;
    }
  }
  a {
    text-transform: uppercase;
    font-family: $font-primary;
    text-decoration: none;
    font-size: $fs-md;
  }
  .title-home-style-image {
    @include mainImageWithBorder;
    &::before {
      z-index: 0;
    }
    .image-container img {
      z-index: 0;
      position: relative;
    }
    position: absolute;
    margin: 0 auto;
    max-width: 200px;
    right: 0;
    top: -15%;
    left: 0;
  }

  .title-home-style-custom-description {
    padding-top: 40px;
    position: relative;
    p {
      font-size: $fs-normal;
      text-transform: initial;
      padding: 10px 10% 0 10%;
      max-width: 900px;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: relative;
    }
  }

  @include mobile {
    .main-title-text {
      margin-top: 15%;
    }
    h1 {
      font-size: $ts-xl;
      transform: scale(1.2, 2);
    }
    h2 {
      font-size: $ts-sm;
      padding-top: 5%;
    }
    .title-home-style-image {
      max-width: 220px;
      right: 0;
      left: 0%;
      top: -5%;
    }
  }

  @include smallIntermediate {
    .title-home-style-description {
      column-gap: 0;
      row-gap: 0;
    }
  }

  @include tablet {
    .main-title-text {
      margin-top: 0;
    }
    h1 {
      font-size: $ts-xxl;
      transform: scale(1.2, 1.5);
    }
    h2 {
      font-size: $ts-md;
      padding-top: 0;
    }
    .title-home-style-image {
      max-width: 325px;
      left: 0;
      top: -3%;
    }
  }
}
