@use './variables.scss' as *;
/**
 *
 * Define the root for the HTML document to set the default css variables.
 *
 */

:root {
  --gmm-gray: #{$gray};
  --gmm-black: #{$black};
  --gmm-white: #{$white};
  --gmm-dark: #{$dark};
  --gmm-white-dark: #{$white-dark};
  --gmm-gray-dark: #{$gray-dark};
  --gmm-dark-shadow: #{$dark-shadow};
  --gmm-dark-bg: #{$dark-bg};
  --gmm-color-print: #{$color-print-primary};
  --gmm-primary-smooth: #{$color-primary-smooth};
  --gmm-red-smooth: #{$red-smooth};
  /*=============================================
  =            Dark colors            =
  =============================================*/
  --gmm-bg: #{$color-background};
  --gmm-primary: #{$color-primary};
  --gmm-terciary: #{$color-terciary};
  --gmm-text-base: #{$white};
  --gmm-btn: #{$white};
  --gmm-btn-outlined: #{$black};
  --gmm-error: #{$color-error-light};
  --gmm-success: #{$color-success};
  --gmm-info: #{$color-info};
  /*----------  NavBar colors  ----------*/
  --gmm-navbar-item-outline: #{$menu-item-outline};
  /*----------  Language Menu colors  ----------*/
  --gmm-langmenu-bg: #{$white};
  --gmm-langmenu-shadow: #{$light-shadow};
  /*----------  Home colors  ----------*/
  --gmm-overlay-bg1: #{$color-overlay-bg1};
  --gmm-overlay-bg2: #{$color-overlay-bg2};
  --gmm-overlay-bg3: #{$color-overlay-bg3};
  --gmm-overlay-bg4: #{$color-overlay-bg4};
  --gmm-overlay-bg5: #{$color-overlay-bg5};

  /*=============================================
  =            Light colors            =
  =============================================*/
  --gmm-bg-light: #{$color-background-light};
  --gmm-primary-light: #{$color-secundary};
  --gmm-text-base-light: #{$black};
  --gmm-btn-light: #{$black};
  --gmm-btn-outlined-light: #{$white};
  --gmm-error-light: #{$color-error};
  --gmm-success-light: #{$color-success-dark};
  --gmm-info-light: #{$color-info};
  /*----------  NavBar colors  ----------*/
  --gmm-navbar-item-outline-light: #{$menu-item-outline};
  /*----------  Language Menu colors  ----------*/
  --gmm-langmenu-bg-light: #{$black};
  --gmm-langmenu-shadow-light: #{$light-shadow};
  /*----------  Home colors  ----------*/
  --gmm-overlay-bg1-light: #{$color-overlay-bg1-light};
  --gmm-overlay-bg2-light: #{$color-overlay-bg2-light};
  --gmm-overlay-bg3-light: #{$color-overlay-bg3-light};
  --gmm-overlay-bg4-light: #{$color-overlay-bg4-light};
  --gmm-overlay-bg5-light: #{$color-overlay-bg5-light};
}

/*=============================================
=            DARK THEME            =
=============================================*/
.dark-theme {
  // ======= GENERAL =======
  --body-bg: var(--gmm-bg);
  --text-item-separator: var(--gmm-gray-dark);
  --error-color: var(--gmm-error);
  --success-color: var(--gmm-success);
  --info-color: var(--gmm-info);
  //SOCIAL BAR
  --social-hover: var(--gmm-primary);
  //BUTTON
  --btn-base: var(--gmm-btn);
  --btn-base-hover: var(--gmm-primary);
  --btn-outline-font: var(--gmm-btn-outlined);
  --btn-disabled: var(--gmm-gray);
  //MENU
  --menu-icon-bg: var(--gmm-dark);
  --menu-bg: var(--gmm-dark);
  --menu-text: var(--gmm-text-base);
  --menu-text-selected: var(--gmm-primary);
  --menu-text-outline: var(--gmm-navbar-item-outline);
  //LANG MENU
  --lang-bg: var(--gmm-langmenu-bg);
  --lang-main-icon: var(--gmm-black);
  --lang-shadow: var(--gmm-langmenu-shadow);
  //HOME
  --text-base: var(--gmm-text-base);
  --text-highlighted: var(--gmm-primary);
  --text-light-highlight: var(--gmm-primary-smooth);
  --text-subtitle: var(--gmm-text-base);
  /*  Home colors  */
  --overlay-bg1: var(--gmm-overlay-bg1);
  --overlay-bg2: var(--gmm-overlay-bg2);
  --overlay-bg3: var(--gmm-overlay-bg3);
  --overlay-bg4: var(--gmm-overlay-bg4);
  --overlay-dark: var(--gmm-overlay-bg5);
  //ABOUT
  --img-square: var(--gmm-primary);
  --about-list-title: var(--gmm-text-base);
  --about-list-description: var(--gmm-gray);
  --line-item-separator: var(--gmm-primary);
  --lang-title: var(--gmm-primary);
  //EXPERIENCE
  --bullet: var(--gmm-primary);
  --bullet-shadow: var(--gmm-dark-shadow);
  --line-vertical: var(--gmm-primary);
  --skill-line-completed: var(--gmm-primary);
  --skill-line-empty: var(--gmm-gray-dark);
  --skill-percentage: var(--gmm-primary);
  //CONTACT
  --form-bg: var(--gmm-dark-bg);
  --form-text: var(--gmm-text-base);
  --form-text-placeholder: var(--gmm-gray);
  //PRINT
  --highlight-color-print: var(--gmm-color-print);
  //COOKIE CONSENT
  --cookie-consent-bg: var(--gmm-bg);
  --cookie-consent-text: var(--gmm-text-base);
  --cookie-consent-border: var(--gmm-primary);
  --cookie-consent-btn-bg: var(--gmm-primary);
  --cookie-consent-btn-text: var(--gmm-btn);
  --cookie-consent-btn-text-wbg: var(--gmm-black);
}

/*=============================================
=            LIGHT THEME            =
=============================================*/
.light-theme {
  // ======= GENERAL =======
  --body-bg: var(--gmm-bg-light);
  --text-item-separator: var(--gmm-gray-dark);
  --error-color: var(--gmm-error-light);
  --success-color: var(--gmm-success-light);
  --info-color: var(--gmm-info-light);
  //SOCIAL BAR
  --social-hover: var(--gmm-primary-light);
  //BUTTON
  --btn-base: var(--gmm-btn-light);
  --btn-base-hover: var(--gmm-primary-light);
  --btn-outline-font: var(--gmm-btn-outlined-light);
  --btn-disabled: var(--gmm-gray);
  //MENU
  --menu-icon-bg: var(--gmm-white);
  --menu-bg: var(--gmm-white-dark);
  --menu-text: var(--gmm-text-base-light);
  --menu-text-selected: var(--gmm-primary-light);
  --menu-text-outline: var(--gmm-navbar-item-outline);
  //LANG MENU
  --lang-bg: var(--gmm-langmenu-bg-light);
  --lang-main-icon: var(--gmm-white);
  --lang-shadow: var(--gmm-langmenu-shadow);
  //HOME
  --text-base: var(--gmm-text-base-light);
  --text-highlighted: var(--gmm-primary-light);
  --text-light-highlight: var(--gmm-red-smooth);
  --text-subtitle: var(--gmm-terciary);
  /*  Home colors  */
  --overlay-bg1: var(--gmm-overlay-bg1-light);
  --overlay-bg2: var(--gmm-overlay-bg2-light);
  --overlay-bg3: var(--gmm-overlay-bg3-light);
  --overlay-bg4: var(--gmm-overlay-bg4-light);
  --overlay-dark: var(--gmm-overlay-bg5-light);
  //ABOUT
  --img-square: var(--gmm-primary-light);
  --about-list-title: var(--gmm-text-base-light);
  --about-list-description: var(--gmm-gray-dark);
  --line-item-separator: var(--gmm-primary-light);
  --lang-title: var(--gmm-primary-light);
  //EXPERIENCE
  --bullet: var(--gmm-primary-light);
  --bullet-shadow: var(--gmm-dark-shadow);
  --line-vertical: var(--gmm-primary-light);
  --skill-line-completed: var(--gmm-primary-light);
  --skill-line-empty: var(--gmm-gray-dark);
  --skill-percentage: var(--gmm-primary-light);
  //CONTACT
  --form-bg: var(--gmm-white-dark);
  --form-text: var(--gmm-text-base-light);
  --form-text-placeholder: var(--gmm-gray);
  //PRINT
  --highlight-color-print: var(--gmm-primary-light);
  //COOKIE CONSENT
  --cookie-consent-bg: var(--gmm-bg-light);
  --cookie-consent-text: var(--gmm-text-base-light);
  --cookie-consent-border: var(--gmm-primary-light);
  --cookie-consent-btn-bg: var(--gmm-primary-light);
  --cookie-consent-btn-text: var(--gmm-btn-light);
  --cookie-consent-btn-text-wbg: var(--gmm-white);
}
