/* ################################################################## 
    VARIABLES 
################################################################## */
@use '../assets/fonts/css/DevBrands.css' as *;
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/**
 * TABLE OF CONTENT
 * 
 * COLORS
 * Main colors...........................These are the main brand colors.
 * Neutral colors.........................White, black, gray scale, secondary colors.
 * Utility colors.........................Other colos to represent states: info, warning, success, etc.
 * Brand colors.........................The color for all the brands used on the site
 *
 * TYPOGRAPHY
 * Font families..........................The fonts for the design system.
 * Font weights...........................The possible weights of the fonts.
 * Font sizes.............................All the font sizes for body text, paragraph, inputs, etc
 * Heading sizes..........................All the font sizes for body text, paragraph, inputs, etc
 *
 * SPACING
 * Spacing................................Global spacing variables
 *
 * BREAKPOINTS
 * Breakpoints............................Global responsive breakpoints
 *
**/

/*=============================================
=            COLORS            =
=============================================*/

/*----------  Main colors  ----------*/
$color-primary: #f3e156;
$color-primary-smooth: #f0e7a6;
$color-print-primary: #fed700;
$color-background: #111111;
// $color-background-light: #eff3dd;
// $color-secundary: #495632;
// $color-terciary: #bcc163;
$color-background-light: #fef9f3;
$color-secundary: #ff8f32;
$color-terciary: #424242;
$orange: #ff8f32;
$orange-light: #fca900;
$red: #fa644d;
$red-smooth: #b84938;

/*----------  Neutral colors  ----------*/
$dark: #000;
$dark-bg: #222222;
$black: #211f20;
$black-light: #343a3f;
$gray: #939393;
$gray-dark: #555;
$white: #fdfefe;
$white-dark: #ededed;

/*----------  Consent Cookies colors  ----------*/
$cookie-consent-text-bg: rgba(255, 255, 255, 0.05);
$cookie-consent-text-bg-light: $white;

/*----------  Utility colors  ----------*/
$color-error: #ff654d;
$color-error-light: #f14328;
$color-success: #9eea0c;
$color-success-dark: #6da108;
$color-info: #0cb1ea;
$color-separator: #555;

/*----------  Brand colors  ----------*/
$color-android: #99cc00;
$color-angularjs: #b23336;
$color-apple: $gray;
$color-bootstrap: #712cf9;
$color-yeoman: #e01e2e;
$color-c-sharp: #6f1e7c;
$color-css3: #0271bb;
$color-drupal: #009cde;
$color-eslint: #533ac6;
$color-expo: $gray;
$color-express: #90c63f;
$color-flutter: #01559d;
$color-git: #f05033;
$color-graphql: #f25bc0;
$color-html5: #e64c25;
$color-java: #da6901;
$color-jest: #99425b;
$color-jquery: #0773b4;
$color-javascript: #f7df1e;
$color-less: #1477c6;
$color-linux: $gray;
$color-mobx: #f05300;
$color-mongodb: #04ee69;
$color-mysql: #1d6998;
$color-nextjs: $gray;
$color-nodejs: #8fc604;
$color-php: #7c7fb6;
$color-postgresql: #306792;
$color-prettier: #ea5e60;
$color-rails: #d50408;
$color-react-router: #d20b25;
$color-react: #61dafb;
$color-redux: #764abc;
$color-rest-api: $gray;
$color-sass: #cc6699;
$color-i18next: #049a8c;
$color-storybook: #ff4d89;
$color-styled-components: #ffd76a;
$color-swift: #f1573f;
$color-testing-library: #fc4444;
$color-typescript: #397dc8;
$color-vscode: #047fce;
$color-vue: #48bb87;
$color-windows: #21c1fb;
$color-wordpress: #2a7a9e;
$color-sublimetext: #ff9800;
$color-lerna: #c084fc;
$color-nx: $gray;
$color-zustand: #443e38;
$color-turborepo: #cc387d;
$color-dashjs: #0166ff;
$color-hlsjs: #0066dc;
$color-samsung: #0d47a1;
$color-lg: #a50034;
$color-tizen: #258bd1;
$color-hbbtv: $gray;
$color-ice-cast: $gray;

// 1. Define the map of brand names to their color variables
$brand-icon-colors: (
  'android': $color-android,
  'angularjs': $color-angularjs,
  'apple': $color-apple,
  'bootstrap': $color-bootstrap,
  'yeoman': $color-yeoman,
  'c-sharp': $color-c-sharp,
  'css3': $color-css3,
  'drupal': $color-drupal,
  'eslint': $color-eslint,
  'expo': $color-expo,
  'express': $color-express,
  'flutter': $color-flutter,
  'git': $color-git,
  'graphql': $color-graphql,
  'html5': $color-html5,
  'java': $color-java,
  'jest': $color-jest,
  'jquery': $color-jquery,
  'javascript': $color-javascript,
  'less': $color-less,
  'linux': $color-linux,
  'mobx': $color-mobx,
  'mongodb': $color-mongodb,
  'mysql': $color-mysql,
  'nextjs': $color-nextjs,
  'nodejs': $color-nodejs,
  'php': $color-php,
  'postgresql': $color-postgresql,
  'prettier': $color-prettier,
  'rails': $color-rails,
  'react-router': $color-react-router,
  'react': $color-react,
  'redux': $color-redux,
  'rest-api': $color-rest-api,
  'sass': $color-sass,
  'i18next': $color-i18next,
  'storybook': $color-storybook,
  'styled-components': $color-styled-components,
  'swift': $color-swift,
  'testing-library': $color-testing-library,
  'typescript': $color-typescript,
  'vscode': $color-vscode,
  'vue': $color-vue,
  'windows': $color-windows,
  'wordpress': $color-wordpress,
  'sublimetext': $color-sublimetext,
  'lerna': $color-lerna,
  'nx': $color-nx,
  'zustand': $color-zustand,
  'turborepo': $color-turborepo,
  'dashjs': $color-dashjs,
  'hlsjs': $color-hlsjs,
  'samsung': $color-samsung,
  'lg': $color-lg,
  'tizen': $color-tizen,
  'hbbtv': $color-hbbtv,
  'ice-cast': $color-ice-cast,
);

/*----------  Decorator colors  ----------*/
$menu-item-outline: rgb(29, 36, 0);
$light-shadow: rgba(255, 255, 255, 0.5);
$dark-shadow: rgba(118, 118, 122, 0.77);
//Overlay
$color-overlay-bg1: #090601;
$color-overlay-bg2: rgba(1, 2, 18, 0.44);
$color-overlay-bg3: rgba(9, 6, 1, 0.96);
$color-overlay-bg4: #010212;
$color-overlay-bg5: rgba(9, 6, 1, 0.812);
//Overlay
$color-overlay-bg1-light: #fdf8f0;
$color-overlay-bg2-light: rgba(236, 237, 245, 0.44);
$color-overlay-bg3-light: rgba(253, 248, 239, 0.96);
$color-overlay-bg4-light: #ecedf4;
$color-overlay-bg5-light: rgba(248, 246, 234, 0.7);

/*=============================================
=            TYPOGRAPHY            =
=============================================*/

/**
 *
 * 1) The Oswald font. We'll use it mostly for copyright
 *  https://fonts.google.com/specimen/Oswald
 *
 * 2) The Fjalla One font. We'll use it mostly for decoration headings and details
 *  https://fonts.google.com/specimen//Fjalla+One
 *
 * 3) The Lato font. We'll use it mostly for body text
 *  https://fonts.google.com/specimen/Lato
 *
 */

/*----------  Font families  ----------*/
$font-copyright: 'Oswald', sans-serif; /* 1 */
$font-primary: 'Fjalla One', sans-serif;
$font-secundary: 'Lato', sans-serif; /* 3 */

/*----------  Font sizes  ----------*/
$fs-xxs: 1.2rem;
$fs-sm: 1.4rem;
$fs-normal: 1.6rem;
$fs-md: 1.8rem;
$fs-lg: 2.4rem;
$fs-xl: 3.2rem;
$fs-xml: 3.6rem;
$fs-xxl: 4.2rem;
$fs-xxxl: 5rem;

/*----------  Title sizes  ----------*/
$ts-xxs: 5rem;
$ts-xs: 7rem;
$ts-sm: 8rem;
$ts-md: 12rem;
$ts-lg: 15rem;
$ts-xl: 23rem;
$ts-xxl: 40rem;

/*----------  Menu & Icon sizes  ----------*/
$is-normal: 1.8rem;
$is-md: 2.4rem;
$is-lg: 3.2rem;
$is-xl: 5rem;
$is-xxl: 8rem;

/*=====  End of TYPOGRAPHY  ======*/

/*=============================================
=            SPACING            =
=============================================*/
$spacing: (
  none: 0rem,
  xxxs: 0.4rem,
  xxs: 0.8rem,
  xs: 1.2rem,
  sm: 1.6rem,
  md: 2.4rem,
  lg: 3.2rem,
  xl: 4.8rem,
  xxl: 7.2rem,
  xxxl: 9.6rem,
) !default;

/*=====  End of SPACING  ======*/

/*=============================================
=            BREAKPOINTS            =
=============================================*/
$breakpoints: (
  xs: 476px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xlg: 1105px,
  xl: 1280px,
);

$container-max-widths: (
  sm: 54rem,
  md: 72rem,
  lg: 96rem,
  xl: 114rem,
  xxl: 132rem,
);

$columns: (
  1: 8.33%,
  2: 16.66%,
  3: 25%,
  4: 33.33%,
  5: 41.66%,
  6: 50%,
  7: 58.33%,
  8: 66.66%,
  9: 75%,
  10: 83.33%,
  11: 91.66%,
  12: 100%,
);

/*=====  End of BREAKPOINTS  ======*/

/*=============================================
=           TYPEWRITTER            =
=============================================*/
$font-typewriter-size: 4.2rem;
$font-typewriter-size-cursor: 3.7rem;
$font-typewriter-size-cursor-gmm-style: 3rem;

/*=====  End of TYPEWRITTER  ======*/
