/* ============================================================================================ */
/* :::::::::::::::::::::::::::::::::::::::: COPYRIGHT ::::::::::::::::::::::::::::::::::::::::: */
/* ============================================================================================ */
$bg-copyright-main: #211f20;
$font-copyright: 'Oswald', sans-serif;
$color-copyright: #fa644d;
$color-copyright-hover: #fca900;
/*=============================================
=            COLORS            =
=============================================*/
$color-primary: #d28f06;
$font-primary: 'Fjalla One', sans-serif;
$font-secundary: 'Lato', sans-serif;
$color-line-title: rgba(31, 37, 52, 0.31);

$color-border-nav: rgba(255, 255, 255, 0.2);
$border-nav: 1px solid $color-border-nav;
$color-nav-main: #fff;
$color-nav-main-hover: $color-primary;

$color-hover-btn: #4f4e4e;

$color-background: #1f2534;
$border-hero: 2px solid $color-primary;
