.contact-content {
  padding-top: 50px;
}

.contact-info {
  h3 {
    padding-bottom: 20px;
  }
  .contact-info-description {
    padding-top: 20px;
  }
}

.contact-basic-details {
  p {
    padding: 10px 0;
  }
}

.contact-action {
  width: 100%;
  font-family: $font-secundary;
  .input-group {
    display: flex;
    gap: 10px;
  }
  .input-single-item {
    width: 50%;
  }
  .form-control {
    appearance: none;
    background-clip: padding-box;
    display: block;
    color: $white;
    font-weight: 400;
    width: 100%;
    background-color: $color-contact-form-bg;
    border: none;
    border-radius: 0 !important;
    line-height: 1.5;
    padding: 1.375rem 0.75rem;
    margin-bottom: 32px;
  }
  textarea {
    min-height: 38px;
  }
  button {
    width: 20%;
  }
}
