@use '../../styles/mixins.scss' as *;

.contact-content {
  padding-top: 5rem;
}

.contact-info {
  padding-right: 2rem;
  h3 {
    padding-bottom: 2rem;
  }
  .contact-info-description {
    padding-top: 2rem;
  }
}

.contact-basic-details {
  p {
    padding: 1rem 0;
  }
}

.contact-form {
  padding-top: 6rem;
}

.contact-action {
  width: 100%;
  font-family: $font-secundary;
  .input-group {
    display: flex;
    gap: 1rem;
  }
  .input-single-item {
    width: 50%;
  }
  .form-control {
    appearance: none;
    background-clip: padding-box;
    display: block;
    color: var(--form-text);
    font-weight: 400;
    width: 100%;
    background-color: var(--form-bg);
    border: 0.2rem solid transparent;
    border-radius: 0 !important;
    line-height: 1.5;
    padding: 2rem 1.2rem;
    margin-bottom: 3.2rem;
    &::placeholder {
      color: var(--form-text-placeholder);
    }
    &.error {
      border-color: var(--error-color);
    }
  }
  textarea {
    min-height: 3.8rem;
  }
  .error-messages {
    padding-bottom: 1rem;
    small {
      color: var(--error-color);
      font-weight: bold;
      display: block;
    }
  }
}

@include smallIntermediate {
  .contact-info,
  .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@include tablet {
  .contact-info.portfolio-col-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
  }
  .contact-form.portfolio-col-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .contact-form {
    padding-top: 0;
  }

  .contact-action {
    .btn,
    .btn.btn-full-mobile {
      width: 15rem;
    }
  }
}
