@use '../../styles/mixins.scss' as *;

#root {
  overflow: hidden;
}

.home {
  background-image: url(../../assets/photos/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  height: 100vh;
  overflow: hidden;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 1;
    background: $color-overlay-bg1;
    background: $color-overlay-bg2;
    background: radial-gradient(
      at 70%,
      $color-overlay-bg2 40%,
      $color-overlay-bg3 65%,
      $color-overlay-bg1 100%
    );
  }
}

.main-text-container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 50px;
  max-width: 80%;
}

.main-text {
  position: relative;
  h4 {
    font-family: $font-secundary;
    font-weight: 400;
    text-transform: uppercase;
  }
  h1 {
    font-family: $font-primary;
    line-height: $font-typewriter-size;
    font-weight: 500;
    position: relative;
    margin: 19px 0px 10px;
    white-space: normal;
    text-transform: uppercase;
    span {
      color: $color-primary;
      font-weight: 700;
    }
  }
}

.action_btns {
  display: flex;
  gap: 40px;
  padding-top: 30px;
}

// TYPEWRITTER
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.typewriter-cursor-end::after {
  content: '';
  position: relative;
  top: 1px;
  width: 3px;
  height: $font-typewriter-size-cursor;
  background: $color-primary;
  display: inline-block;
  animation: cursor-blink 1.5s steps(9) infinite;
}

@include smallIntermediate {
  .main-text {
    h1 {
      white-space: nowrap;
    }
    p {
      max-width: 550px;
    }
  }
  .main-text-container {
    margin-left: 10%;
    max-width: 550px;
  }
}
