@use '../../styles/mixins.scss' as *;

.description-education {
  padding-top: 5rem;
  .card-item {
    h4 {
      border-bottom: 0.1rem solid var(--line-item-separator);
    }
  }
}

.adjust-padding-top {
  padding-top: 5rem;
  &.description-education {
    .card-item {
      h4 {
        color: var(--lang-title);
        border-bottom-color: var(--text-base);
      }
    }
  }
}

@include tablet {
  .description-education {
    padding-top: 2.4rem;
  }
  .adjust-padding-top {
    padding-top: 0;
  }
}
