.language-selector {
  z-index: 6;
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  font-size: $is-lg;
  cursor: pointer;
  color: $color-langmenu-color;
  background: $color-langmenu-bg;
  box-shadow: 0px 0px 10px $color-langmenu-shadow;
}

#language-action-btn {
  &:checked ~ .language-flags {
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.language-btn {
  top: 2px;
  position: relative;
  i {
    z-index: 6;
    position: relative;
  }
}

.language-flags {
  position: absolute;
  border-radius: 10px;
  padding-top: 10px;
  background: $color-langmenu-bg;
  width: 100%;
  bottom: -300px;
  height: 185px;
  .lang-link {
    text-decoration: none;
    font-size: $is-lg;
    line-height: 40px;
    &:hover,
    &.selected {
      font-size: $is-xl;
    }
  }
}
