@use '../../styles/mixins.scss' as *;

.page-title {
  text-align: center;
  h1 {
    font-family: $font-primary;
    font-weight: 500;
    position: relative;
    margin: 19px 0px 10px;
    text-transform: uppercase;
    span {
      color: var(--text-highlighted);
      font-weight: 700;
    }
  }
}

.page-subtitle {
  position: relative;

  display: block;
  padding: 0 12%;

  &:before,
  &:after {
    background-color: var(--text-highlighted);
    position: absolute;
    content: '';
    height: 2px;
    top: 11px;
    width: 30px;
  }
  &:before {
    right: 0;
  }
  &:after {
    left: 0;
  }
}

@include mobile {
  .page-subtitle {
    padding: 0;
    display: inline;
    &:before {
      right: -50px;
    }
    &:after {
      left: -50px;
    }
  }
}
