@use '../../styles/mixins.scss' as *;

.page-title {
  text-align: center;
  h1 {
    font-family: $font-primary;
    font-weight: 500;
    position: relative;
    margin: 2rem 0 1rem;
    text-transform: uppercase;
    font-size: $fs-xxxl;
    span {
      color: var(--text-highlighted);
      font-weight: 700;
    }
  }
  &.page-version-two {
    position: relative;
    .first-h1 {
      transform: scale(1.2, 1.5);
      padding-bottom: 3rem;
    }
    .second-h1 {
      position: absolute;
      top: 3rem;
      margin: 0 auto;
      left: 0;
      right: 0;
      color: var(--text-highlighted);
      -webkit-text-stroke: 0.2rem var(--body-bg);
      -webkit-text-fill-color: var(--text-highlighted);
    }
  }
}

.page-subtitle {
  position: relative;

  display: block;
  padding: 0 12%;

  @include meta-title;
}

@include mobile {
  .page-subtitle {
    padding: 0;
    display: inline;
    &:before {
      right: -5rem;
    }
    &:after {
      left: -5rem;
    }
  }
}
