.card-item-container {
  position: relative;
  &:not(:last-child) {
    padding-bottom: 15px;
  }
  &:before {
    border-left: 1px solid $color-primary;
    content: '';
    height: 112%;
    left: 7px;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 1px;
    display: block;
  }
  .bullet {
    border: 2px solid $color-primary;
    background-color: $color-background;
    display: block;
    height: 15px;
    left: 0px;
    position: absolute;
    top: 0;
    width: 15px;
    border-radius: 50%;
    box-shadow: rgba(118, 118, 122, 0.77) 0px 7px 29px 0px;
  }
  .card-item {
    margin-left: 40px;
    width: calc(100% - 60px);
    top: 20px;
    padding-bottom: 0;
    padding-right: 20px;
  }
}
