@use '../../styles/mixins.scss' as *;

.error-page {
  @include homeStyleTitle;
  h1 {
    color: $color-error-light;
  }
  a {
    text-transform: uppercase;
    font-family: $font-primary;
    text-decoration: none;
    font-size: $fs-md;
  }
  .title-home-style-image {
    &::before {
      border-color: $color-error-light;
    }
  }
  .error-description {
    display: flex;
    justify-content: center;
    text-transform: initial;
    padding-bottom: 20px;
    padding-top: 30px;
    position: relative;
    row-gap: 30px;
  }
  .error-en::before {
    content: '🇬🇧';
  }
  .error-it::before {
    content: '🇮🇹';
  }
  .error-es::before {
    content: '🇪🇸';
  }
  .error-en,
  .error-es,
  .error-it {
    position: relative;
    padding: 0 15px;
    &::before {
      position: absolute;
      z-index: -1;
      font-size: $ts-sm;
      opacity: 0.3;
      margin: 0 auto;
      top: -15px;
      left: 0;
      right: 0;
    }
  }
}

@include smallIntermediate {
  .error-page {
    .error-description {
      column-gap: 0;
      row-gap: 0;
    }
  }
}
